.about {
  margin-top: 90px;
}

.about__descr {
  max-width: 1080px;
  line-height: 32px;
}


@media (max-width: 475px) {
  .about {
    margin-bottom: 41px;
  }
  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }
}
