.catalog {
  margin-top: 90px;
  margin-bottom: 40px;
}
.catalog__header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.catalog__title {
  margin-right: 38px;
  margin-bottom: 0;
}

@media (max-width: 1360px) {
  .catalog {
    margin-top: 90px;
  }
}
@media (max-width: 840px) {
  .catalog__header {
    margin-bottom: 21px;
  }
}
@media (max-width: 475px) {
  .catalog {
    margin-top: 86px;
  }
  .catalog__header {
    margin-bottom: 18px;
  }
  .catalog__title {
    margin-bottom: 15px;
  }
}
