.editions {
  margin-top: 80px;
  padding: 90px 0 74px;
  color: var(--white-color);
  background: no-repeat center / cover url(../../img/editions/bg@l.jpg);
}

.editions__container {
  display: flex;
}

.editions__first-block {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 46px;
}
.editions__title {
  margin-bottom: 32px;
}

.categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
}
.categories__marker {
  list-style: none;
  pointer-events: none;
  outline: none;
}
.categories__list {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}
/* details > summary {
  list-style: none;
} */
.categories__title,
.categories__price_title {
  margin-bottom: 15px;
  font-size: 16px;
}

.product {
  display: flex;
  flex-direction: column;
}
.product__pic {
  margin-bottom: 24px;
}
.product__descr {
  display: flex;
  margin-bottom: 16px;
}
.product__title {
  margin-bottom: 8px;
  font-weight: 700;
}
.product__autor {

}
.product__price {
  margin-left: auto;
  font-style: italic;
}

.product__btn {
  margin-right: auto;
}

.sorting-price {
  display: flex;
  align-items: center;
  width: 277px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--grey-color);
  border-radius: 6px;
}

.sorting-price input {
  width: 73px;
  height: 40px;
  margin: 0 10px;
  padding: 0 10px;
  color: var(--white-color);
  background: rgba(157, 92, 208, 0.5);
}

@media (max-width: 1360px) {
  .editions {
    background-image: url(../../img/editions/bg@m.jpg);
  }
  .editions__first-block {
    margin-right: 20px;
  }
  .product__pic {
    margin-bottom: 14px;
  }
}
@media (max-width: 840px) {
  .editions {
    margin-top: 84px;
    padding: 90px 0 76px;
    background-image: url(../../img/editions/bg@s.jpg);
  }
  .editions__container {
    flex-wrap: wrap;
  }
  .editions__first-block {
    width: 100%;
    margin: 0 0 26px 0;
  }
  .categories {
    flex: 1 1 auto;
    margin-bottom: 54px;
  }
  .categories__container {
    height: 130px;
  }
}
@media (max-width: 670px) {
  .categories__container {
    height: 200px;
  }
}

@media (max-width: 475px) {
  .editions {
    margin-top: 30px;
    padding: 56px 0 0px;
    background-image: url(../../img/editions/bg@xs.jpg);
  }
  .editions__first-block {
    margin-bottom: 50px;
  }
  .editions__title {
    margin-bottom: 27px;
  }
  .categories__list {
    height: auto;
  }
  .categories__container {
    height: auto;
  }
  .categories__marker {
    list-style: none;
    pointer-events: initial;
  }
  .editions__swiper_container {
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    display: flex;
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
    min-width: 130px;
    margin-bottom: 50px;
    font-size: 12px;
  }
  .product:nth-child(2n - 1) {
    margin-right: 30px;
  }
  .product:last-child {
    margin-right: auto;
  }
  .product__pic {
    margin-bottom: 10px;
  }
  .product__descr {
    flex-direction: column;
    width: 100%;
    margin-bottom: 14px;
  }
  .product__info {
  }
  .product__title,
  .product__autor {
    display: inline-block;
    width: 100%;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
  }
  .product__title {
    margin-bottom: 2px;
  }
  .product__autor {
    margin-bottom: 4px;
  }
  .product__price {
    margin: 0;
    font-style: italic;
  }
}
