.form__search {
  display: flex;
  align-items: center;
}
.form__search_m {
  display: none;
  transition: margin .3s ease-in-out;
}

.search__input {
  height: 30px;
  margin-left: 2px;
  text-decoration: none;
  border-bottom: 1px solid var(--white-color);
}
.search__input_d {
  width: 220px;
}
.search__input:focus {
  text-decoration: none;
  outline: 2px solid var(--accent-light-color);
  offset: 0;
}
.search__input_m {
  width: 0;
  transition: width .3s ease-in-out, margin .3s ease-in-out;
}
.form__search_d:hover .search__items_d,
.form__search_d:hover .search__input_d {
  border-color: var(--accent-light-color);
}
.form__search_d:hover .search__items_d::after {
  background-color: var(--accent-light-color);
}
.form__search_d:active .search__items_d,
.form__search_d:active .search__input_d {
  border-color: var(--accent-color);
}
.form__search_d:active .search__items_d::after {
  background-color: var(--accent-color);
}
.search__input_d:focus .search__items_d {
  border-color: var(--accent-color);
}
.search__input_d:focus .search__items_d::after {
  background-color: var(--accent-color);
}

/* Contacts form */

.contacts__form_title {
  margin-bottom: 20px;
}

.contacts__form_input {
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin-bottom: 23px;
  padding: 0 24px;
  border: 1px solid var(--dark-grey-color);
  border-radius: 100px;
}
.contacts__form_input:focus {
  border-color: var(--accent-color);
}

@media (max-width: 1360px) {
  .form__search_m {
    display: flex;
  }
  .form__search_m.active {
    margin-left: -208px;
    background-color: #18171B;
  }
  .form__search_m.active .search__input_m {
    width: 200px;
    margin-left: 10px;
  }
  .contacts__form_input {
    max-width: 335px;
  }
}

@media (max-width: 840px) {
  .form__search_m.active {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 50px;
    background-color: var(--black-color);
  }
  .search__input_m {
    transition: none;
  }
  .form__search_m.active .search__input_m {
    margin: 0 20px 0 5px;
    width: 100%;
  }
  .form__search_m.active .cross_form {
    display: block;
  }
}

@media (max-width: 475px) {
  .form__search_m.active {
    justify-content: center;
    height: 75px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
  }
  .form__search_m.active .search_m {
    /* transform: translateY(5px); */
  }
  .form__search_m.active .search__input_m {
    margin: 0 20px 0 5px;
    width: 180px;
    height: auto;
    font-size: 12px;
  }
  .form__search_m.active .cross_form {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    justify-self: flex-end;
  }

  .contacts__form_title {
    margin-bottom: 24px;
  }
  .contacts__form_input {
    margin-bottom: 20px;
  }
}
@media (min-width: 475px) {
  .contacts__form_input:hover {
    border-color: var(--accent-light-color);
  }
}
