html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: var(--white-color);
}

button, input {
  padding: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.main {
  background: linear-gradient(to bottom, #e9e9e9 0%, #FFFFFF 1%, #FFFFFF 100%);
}

.container {
  max-width: 1630px;  /*под проект*/
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* при работе с float */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


@media (max-width: 1360px) {
  .container {
    max-width: 1024px;
    padding: 0 50px;
  }
}

@media (max-width: 475px) {
  .container {
    padding: 0 15px;
  }
}
