body {
  font-family: "OpenSans", Arial, sans-serif;  /* в "" свой шрифт под проект*/
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  color: var(--accent-light-color);
  caret-color: var(--accent-light-color);
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

input:focus {
  outline-offset: 3px;
}


.link {
  position: relative;
}
.link:hover {
  color: var(--accent-light-color);
}
.link:hover::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-light-color);
}
.link:focus::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border: 2px solid var(--accent-light-color)

}
.link:active {
  color: var(--accent-color);
}
.link:active::before {
  background-color: var(--accent-color);
}
.link:active::after {
  content: none;
}

.title {
  margin-bottom: 22px;
  font-size: 48px;

  font-weight: 400;
}

@media (max-width: 475px) {

  .title {
    margin-bottom: 16px;
    font-size: 28px;
  }
  .dots {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
  }
}

