* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
/* *:hover,
*:active {
  outline: none;
} */
button,
span,
input,
label,
a,
*::after,
*::before {
  -webkit-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
  transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
}
/* Header Burger */
.burger {
  position: relative;
  padding: 20px;
}
.burger__lines::before,
.burger__lines::after,
.burger__lines {
  position: absolute;
  left: 0;
  height: 3px;
  background: var(--white-color);
  transition: background .2s ease-in-out;
}
.burger:hover .burger__lines::before,
.burger:hover .burger__lines::after,
.burger:hover .burger__lines {
  background: var(--accent-light-color);
}
.burger:active .burger__lines::before,
.burger:active .burger__lines::after,
.burger:active .burger__lines {
  background: var(--accent-color);
}
.burger__lines {
  width: 28px;
}
.burger__lines::before {
  content: '';
  top: -12px;
  width: 36px;
}
.burger__lines::after {
  content: '';
  top: 12px;
  width: 24px;
}
.burger__active .burger__lines {
  background: transparent;
}
.burger__active .burger__lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger__active .burger__lines::after{
  top: 0;
  transform: rotate(-45deg);
}
/* Cross */
.cross {
  position: relative;
  display: none;
  width: 29px;
  height: 29px;
  margin: 5px;
  transform: translateX(-5px);
}
.cross::after,
.cross::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 3px;
  background: var(--white-color);
  transform:translate(-50%, -50%);
}

.cross::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cross:hover::after,
.cross:hover::before {
  background: var(--accent-light-color);
}
.cross:active::after,
.cross:active::before {
  background: var(--accent-color);
}
.cross:hover{
  outline: var(--accent-light-color);
}
.cross_form {
  display: none;
}

/* Header login */
.login {
  display: flex;
  align-items: center;
  color: var(--white-color);
}

.login:focus {
  outline: 2px solid var(--accent-light-color);
  outline-offset: 6px;
}
.login:active {
  color: var(--accent-color);
}
.login:active .login_icon {
  background: var(--accent-color);
}
.login_icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background: var(--white-color);
  -webkit-mask-image: url(/img/header/login.svg);
}
.login_menu {
  display: none;
}
/* Search */
.search {
  position: relative;
  display: flex;
  border: 2px solid transparent;
}
.search:focus {
  outline: 2px solid var(--accent-light-color);
}
.search_m {
  position: relative;
}

.search__items {
  position: relative;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}
.search__items::after {
  content: '';
  position: absolute;
  left: -7px;
  width: 9px;
  background: var(--white-color);
  transform: rotate(140deg);
}

.search__items_d {
  width: 20px;
  height: 20px;
  margin: 5px;
}
.search__items_d::after {
  top: 14px;
  height: 2px;
}

.search__items_m {
  width: 26px;
  height: 26px;
}
.search__items_m::after {
  top: 20px;
  height: 3px;
}
.search:hover .search__items,
.search_m:hover .search__items {
  border-color: var(--accent-light-color);
}

.search:hover .search__items::after,
.search_m:hover .search__items::after {
  background-color: var(--accent-light-color);
}

.search:active .search__items,
.search_m:active .search__items {
  border-color: var(--accent-color);
}
.search:active .search__items::after,
.search_m:active .search__items::after {
  background-color: var(--accent-color);
}
/* BTN */
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 100px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.btn_hero {
  width: 314px;
  height: 70px;
  color: var(--white-color);
  border-color: var(--accent-light-color);
  background: var(--accent-light-color);
  pointer-events: auto;
}

.btn_hero::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 322px;
  height: 78px;
  border-radius: 100px;
  border: 2px solid transparent;
}

.btn_login {
  display: none;
  width: 257px;
  height: 60px;
  color: var(--white-color);
  border-color: var(--accent-light-color);
}
.btn_login::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 265px;
  height: 68px;
  border-radius: 100px;
  border: 2px solid transparent;
}


.btn_hero:focus,
.btn_login:focus {
  color: var(--white-color);
  outline: none;
}
.btn_hero:focus::before,
.btn_login:focus::before {
  border-color: var(--accent-light-color);
}
.btn_login:active,
.btn_hero:active {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--border-hover-color);
}

/* Seelector Gallery */

.choices {
  background-color: transparent;
}
.choices__inner {

  background-color: transparent;
}
.choices__list {
  background-color: transparent;
}
.choices[data-type*=select-one]:after {
  content: '';
  position: absolute;
  z-index: 3;
  right: 11.5px;
  top: 38%;
  margin: 0;
  height: 8px;
  width: 8px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--white-color);
  pointer-events: none;
  transform: rotate(45deg);
}
.choices[data-type*=select-one].is-open:after {
  top: 50%;
  margin: 0;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--accent-light-color);
  transform: rotate(-135deg);
}

/* Events */
.events__more-btn {
  width: 188px;
  height: 59px;
  color: var(--accent-light-color);
  border-color: var(--accent-light-color);
}

/* Editions */
.product__btn {
  width: 120px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  color: var(--white-color);
  border-radius: 100px;
  border: 2px solid var(--accent-color);
}

.product__btn:active,
.contacts__form_button:active {
  background-color: var(--accent-color);
  border-color: var(--border-hover-color);
}
.product__btn::before {
  content: '';
  position: absolute;
  z-index: 100;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-radius: 100px;
  border: 2px solid transparent;
}
.product__btn:focus {
  color: var(--white-color);
  outline:none;
}
.product__btn:focus::before,
.contacts__form_button:focus::before {
  border-color: var(--accent-light-color);
}

/* Contacts */
.contacts__form_button {
  width: 157px;
  height: 59px;
  color: var(--accent-light-color);
  border: 2px solid var(--accent-light-color);

}
.contacts__form_button:focus {
  outline: none;
}

.contacts__form_button:active {
  color: var(--white-color);
}

.contacts__form_button::before {
  content: '';
  position: absolute;
  z-index: 100;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-radius: 100px;
  border: 2px solid transparent;
}
.circle__btn {
  position: relative;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}
.circle__btn:active {
  background-color: var(--accent-color);
  border-color: var(--accent-light-color);
}
.circle__btn:focus::before {
  content: '';
  top: -6px;
  left: -6px;
  position: absolute;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border: 2px solid var(--accent-light-color);
  border-radius: 50%;
}

/* Media Queriees */
@media (max-width: 1360px) {
  .burger {
    display: flex;
    align-items: center;
  }
  .cross_menu {
    display: block;
  }
  .login {
    display: none;
  }
  .btn_login {
    display: flex;
  }
  .search_m {
    display: flex;
  }
}
@media (max-width: 575px) {
  .events__more-btn {
    display: none;
  }
}
@media (max-width: 475px) {
  .burger__lines::before,
  .burger__lines::after,
  .burger__lines {
    height: 2px;
  }
  .burger__lines {
    width: 16px;
  }
  .burger__lines::before {
    content: '';
    top: -6px;
    width: 20px;
  }
  .burger__lines::after {
    content: '';
    top: 6px;
    width: 13px;
  }

  .cross {
    width: 15px;
    height: 15px;
    margin: 15px;
    transform: translate(-15px, -10px);
  }
  .cross::after,
  .cross::before {
    width: 20px;
    height: 2px;
  }

  .search__items_m {
    width: 15px;
    height: 15px;
  }
  .search__items_m::after {
    top: 10px;
    left: -5px;
    width: 6px;
    height: 2px;
  }

  .btn_hero {
    width: 200px;
    height: 40px;
    font-size: 11px;
  }
  .btn_hero::before {
    width: 208px;
    height: 48px;
  }
  .btn_login {
    width: 115px;
    height: 40px;
    font-size: 12px;
  }
  .btn_login::before {
    width: 123px;
    height: 48px;
  }
  .btn_login .login_icon {
    width: 9px;
    height: 9px;
    -webkit-mask-image: url(/img/header/login_m.svg);
  }

  .events__more-btn {
    display: none;
  }
  .product__btn {
    width: 100%;
    font-size: 12px;
  }
  /*  */
  .contacts__form_button {
    width: 128px;
    height: 40px;
    font-size: 12px;
  }
}
@media (min-width: 475px) {
  .login:hover {
    color: var(--accent-light-color);
  }
  .login:hover .login_icon {
    background: var(--accent-light-color);
  }
  .btn_hero:hover {
    color: var(--white-color);
    border-color: var(--border-hover-color);
  }
  .btn_login:hover {
    color: var(--white-color);
    background: var(--accent-light-color);
    border-color: var(--accent-light-color);
  }
  .product__btn:hover,
  .contacts__form_button:hover {
    border-color: var(--accent-light-color);
    background-color: var(--accent-light-color);
  }
  .contacts__form_button:hover {
    color: var(--white-color);
  }
  .circle__btn:hover {
    background-color: var(--accent-light-color);
    border-color: var(--accent-color);
  }
}
