.breath {
  animation: 7s linear 0s infinite alternate breath;
}
@keyframes breath {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.hero__swiper {
  width: 100%;
  height: 100%;
}

.swiper-item {
  width: 100%;
  height: 100%;
}
.swiper-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__swiper{
  width: calc(100%);
  margin-left: auto;
  margin-right: auto;
}

.gallery__swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  height: calc((100% - 50px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}
.gallery__swiper-slide .swiper-item{
  position: relative;
}

.gallery__swiper-slide .swiper-item:active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 90%;
  height: 90%;
  background: no-repeat center var(--hover-slide-color) url(../../img/gallery/zoom.svg);
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
}
.gallery__swiper-slide .swiper-item:active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border: 2px solid #D1A9F0;

  transform: translateX(-50%) translateY(-50%);
}

.swiper-slide__descr {
  display: none;
}
.swiper-nav-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 45px;
  margin: 0 5px 30px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  background: var(--grey-color);
  transition: background .3s ease-in-out;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8px;
  width: 8px;
  margin-left: 2px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--black-color);
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(135deg);
}

.swiper-button-prev:after {
  transform: translate(-50%, -50%) rotate(135deg);
}
.swiper-button-next:after {
  margin-left: -1px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  border-color: var(--accent-color);
  outline: none;
}

.swiper-button-prev:active,
.swiper-button-next:active,
.projects__carousel .swiper-button-prev:active,
.projects__carousel .swiper-button-next:active {
  background-color: var(--accent-color);
  border-color: var(--border-hover-color);
}

.swiper-button-prev:active::before,
.swiper-button-next:active::after {
  border-color: var(--white-color);
}

.swiper-pagination {
  position: relative;
  bottom: auto;
  left: auto;
  display: flex;
  align-items: center;
  width: auto;
  height: 30px;
  margin: 0 20px;
}
/* Events swiper */
.events__swiper .swiper-pagination {
  position:initial;
  display: none;
  justify-content: center;
  margin: 20px 0;
  height: auto;
}
.events__swiper .swiper-pagination > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  transition: opacity .3s ease-in-out, background .3s ease-in-out;
}
.events__swiper .swiper-pagination > .swiper-pagination-bullet-active {
  background-color: var(--grey-color);
  opacity: 1;
}

/* Editions swiper */

.editions__carousel {
  position: relative;
  display: block;
  width: 1160px;
  padding-top: 9px;
  overflow: hidden;
}
.editions__carousel .swiper-nav-container {
  margin: 0 0 30px;
}
.editions__carousel .swiper-container {
  padding: 0 4px;
}
.editions__carousel .swiper-wrapper {
  padding: 0 0 4px;
}


/* Projects */
.projects__carousel {
  display: flex;
  align-items: center;
}

.projects__carousel .swiper-button-prev,
.projects__carousel .swiper-button-next{
  display: flex;
  flex: 0 0 30px;
  background-color: var(--extra-grey-color);
}

.projects__swiper {
  width: 100%;
  margin: 0 45px;
}
.projects__swiper .swiper-wrapper {
  box-sizing: border-box;
}

.projects__swiper .swiper-slide {
  display: flex;
  align-items: center;
  width: 450;
  height: 150px;
  border: 1px solid var(--light-grey-color);
  filter: grayscale(1);
  opacity: .3;
  transition: filter .2s ease-in-out, opacity .2s ease-in-out;
}

.projects__swiper .swiper-slide:hover {
  border-color: var(--accent-light-color);
  opacity: 1;
  filter: none;
}

@media (max-width: 1360px) {
  .gallery__swiper-slide {
    height: calc((100% - 34px) / 2);
  }
  .swiper-nav-container {
    margin: 0 0 30px;
  }
  .gallery__swiper-wrapper {
    height: 594px;
  }
  /* Projects */
  .projects__swiper {
    margin: 0 23px;
  }
  .projects__swiper .swiper-slide {
    height: 128px;
  }
}
@media (max-width: 840px) {
  /* Projects */
  .projects__swiper .swiper-slide {
    height: 106px;
  }
  .editions__carousel .swiper-container {
    padding: 0 27px;
  }
}
@media (max-width: 575px) {
  .events__swiper .swiper-pagination {
    display: flex;
  }
}
@media (max-width: 475px) {
  .gallery__swiper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .swiper-nav-container {
    margin: 0 0 20px;
  }
  .gallery__swiper-wrapper {
    flex-direction: row;
    width: 100% !important;
    height: 367px;
    margin-bottom: 4px;
  }
  .gallery__swiper-slide {
    height: auto;
    margin: 0 !important;
  }
  .swiper-pagination {
    margin: 0 14px;
  }
  .editions__carousel {
    padding-top: 0;
    overflow: visible;
  }
  .editions__carousel .swiper-nav-container {
    display: none;
  }
  /* Projects */
  .projects__swiper {
    margin: 0 17px;
  }
  .projects__swiper .swiper-slide {
    height: 65px;
  }
}


@media (min-width: 475px) {
  .gallery__swiper-slide .swiper-item:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 90%;
    height: 90%;
    background: no-repeat center var(--hover-slide-color) url(../../img/gallery/zoom.svg);
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover,
  .projects__carousel .swiper-button-prev:hover,
  .projects__carousel .swiper-button-next:hover {
    background-color: var(--accent-light-color);
  }
  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::after {
    border-color: var(--white-color);
  }
}
