.categories__item {
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  cursor: pointer;
  box-sizing: border-box;
}
.categories__item:not(:last-child) {
  margin-bottom: 16px;
}
.categories__list.selected {
  display: none;
}
.categories__item:active {
  color: var(--accent-color);
}
.categories__item:active .check ~ .checkbox::before {
  border-color: var(--accent-color);
}
.categories__item:active .check ~ .checkbox::after {
  background-color: var(--accent-color);
}
.categories__item:active .check ~ label {
  color: var(--accent-color);
}
.categories__item:focus {
  outline: none;
}
.check:focus + label::after {
  content: '';
  position: absolute;
  z-index: 3;
  top: -6px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 12px);
  border: 2px solid var(--accent-light-color);
  pointer-events: none;
}

.check {
  position: absolute;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.check ~ .checkbox {
  position: absolute;
  left: 0;
  width: 12px;
  height: 12px;
}

.check ~ .checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--white-color);
  box-sizing: border-box;
}

.check ~ .checkbox::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  opacity: 0;
  border-radius: 50%;
  background-color: var(--accent-light-color);
  transform: translateX(-50%) translateY(-50%);
  transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
}
.check ~ label {
  margin-left: 20px;
  cursor: pointer;
}
.check:checked ~ .checkbox::after {
  opacity: 1;
}
.check:checked ~ .checkbox::before {
  border-color: var(--accent-light-color);
}
.check:checked ~ label {
  color: var(--accent-light-color);
}

@media (max-width: 840px) {
  .categories__item {
    margin-right: auto;
  }
  .check ~ label {
    min-width: 100px;
  }
}

@media(max-width: 475px) {
  .categories__title {
    display: flex;
    align-items: center;
  }
  .categories__title,
  .categories__list.selected {
    display: flex;
  }
  .categories__title,
  .categories__item {
    position: relative;
    width: 100%;
    height: 40px;
    margin: -1px 0 0;
    border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
  }
  .categories__list.selected .categories__item {
    display: none;
  }
  .categories__item:not(:last-child) {
    margin-bottom: 0;
  }
  .check ~ label {
    width: 100%;
  }
  .check:focus ~ label::before {
    content: none;
  }
  .categories__marker {
    position: relative;
    transition: color .2s ease-in-out;
  }
  .categories__marker:focus {
    outline: none;
  }
  .categories__marker::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 8px;
    height: 8px;
    margin-top: -2px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: var(--white-color);
    transform:translateY(-50%) rotate(45deg);
  }
  .categories__container[open] .categories__marker::before {
    margin-top: 4px;
    transform:translateY(-50%) rotate(-135deg);
  }
  .categories__marker:active {
    color: var(--accent-color);
  }
  .categories__marker:active::before {
    border-color: var(--accent-color);
  }
  .categories__list.selected .categories__item > .cross {
    display: flex;
    margin: 0;
    transform: translate(0);
  }
  .categories__list.selected .categories__item > .cross::before,
  .categories__list.selected .categories__item > .cross::after {
    width: 17px;
    background-color: var(--accent-light-color);
  }
}

@media(min-width: 475px) {
  .categories__item:hover {
    color: var(--accent-light-color);
  }
  .categories__item:hover .check ~ .checkbox::before {
    border-color: var(--accent-light-color);
  }

}
