.tabs {
  display: flex;
  flex: 1 1 434px;
  max-width: 434px;
}
.tabs__item {
  display: flex;
}
.tabs__item:not(:last-child) {
  margin-right: auto;
}
.tabs__item_btn {
  position: relative;
  width: 50px;
  height: 50px;
  background: no-repeat center / cover;
  border-radius: 50%;
  border: 2px solid transparent;
}

.tabs__item_btn:focus {
  border-color: var(--accent-light-color);
}
.tabs__item_btn:active {
  border-color: var(--accent-color);
}
.tabs__item_btn.current::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 2px solid var(--accent-light-color);
}

.tabs__item_fr {background-image: url(../../img/catalog/tabs/fr.png);}
.tabs__item_de {background-image: url(../../img/catalog/tabs/de.png);}
.tabs__item_it {background-image: url(../../img/catalog/tabs/it.png);}
.tabs__item_ru {background-image: url(../../img/catalog/tabs/ru.png);}
.tabs__item_be {background-image: url(../../img/catalog/tabs/be.png);}

.tab {
 display: none;
}
.tab.current {
  display: block;
 }


.tab__descr {
  max-width: 1080px;
  margin-bottom: 40px;
  line-height: 32px;
}

.tab__container {
  display: flex;
}

.card {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  max-width: 750px;
  margin-right: 50px;
}
.card__pic {
  margin-bottom: 28px;
}
.card__pic img {
  width: 100%;
}


.card__title {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.card__lifetime {
  margin-bottom: 7px;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  color: var(--light-grey-color);
}

.card__descr {
  line-height: 32px;
}

@media (max-width: 1360px) {
  .tabs {
    transform: translateY(7px);
  }
}

@media (max-width: 840px) {
  .tabs {
    width: 100%;
  }
  .tab__container {
    flex-flow: column-reverse wrap;
  }
  .tab__descr {
    margin-bottom: 21px;
  }
  .card {
    margin: 0;
  }
}
@media (max-width: 840px) {
  .tabs {
    transform: translateY(0);
  }
}
@media (max-width: 475px) {
  .tabs__item_btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid transparent;
  }
  .tabs__item_btn.current::after {
    top: -6px;
    left: -6px;
    width: 44px;
    height: 44px;
  }
  .tab__descr {
    display: none;
  }
  .card__pic {
    margin-bottom: 17px;
  }
  .card__title {
    margin-bottom: 12px;
  }
}
@media (min-width: 475px) {
  .tabs__item_btn:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  }
}
