:root {
  --black-color: #000;
  --white-color: #fff;
  --text-color: #333;
  --dark-grey-color: #333;
  --grey-color: #666;
  --light-grey-color: #999;
  --extra-grey-color: #ECECEC;
  --accent-color: #7943A4;
  --accent-light-color: #9D5CD0;
  --border-hover-color: #D1A9F0;
  --accordion-border-color: #CACACA;
  --bg-input: #414141;
  --social-hover: #a3a3a3;
  --bg--nav-color: rgb(0, 0, 0, .9);
  --hover-slide-color: rgb(0, 0, 0, .5);
  --whatsapp-color: #30BF39;
  --telegram-color: #229ED9;
}
